@charset "utf-8";
#visual {
    height: 100%;
    /* background: pink; */
    width: 100%;
    font-size: 14px;
    font-weight: 600;
}
#visual .wrap {
    padding: 90px 20px 60px;
    background: #fff;
}
#visual .wrap .tit {
    position: relative;
    font-size: 24px;
    color: #001d82;
    font-weight: 900;
    text-align: center;
    padding-bottom: 20px;
}
#visual .wrap .tit::after {
    content: "";
    display: block;
    width: 13.3%;
    height: 2px;
    background-color: #001d82;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1px;
}
#visual .type {
    font-size: 20px;
    font-weight: 600;
    height: 40px;
    display: flex;
    margin-bottom: 10px;
    padding-top: 20px;
    border-bottom: 2px solid #0a6f00;
}
#visual .type .ask {
    /* background: orange; */
    width: 50%;
    text-align: center;
    position: relative;
}
#visual .type .ask a {
    color: #0a6f00;
    padding: 10px 15px;
}
#visual .type .ask-1 a {
    color: #1d1d1d;
}
#visual .type .ask::after {
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    height: 20px;
    background: #0a6f00;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
#visual .type .ask:last-child:after {
    display: none;
}
/* #visual .reser_area {
    height: 560px;
    width: 100%;
    background-color: rgba(10, 111, 0, 0.03);
    border-radius: 10px;
    margin-top: 10px;
} */
#visual .form_area {
    padding: 20px;
}
#visual .form_row {
    margin-bottom: 15px;
}
/* .ask_frame {
    padding: 20px;
} */
.ask_frame input,
.ask_frame select,
.ask_frame textarea {
    width: 100%;
    height: 45px;
    border: 1px solid #c7c7c7;
    padding: 3px 5px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 5px;
}
.form-row {
    margin-bottom: 20px;
}
.name_list,
.email_form {
    display: flex;
    justify-content: space-between;
}

.name_list > .name_tag {
    width: calc(100% / 2 - 2%);
}
.email_form > .mail_form {
    width: calc(100% / 2 - 2%);
}
.ask_frame .tit_txt textarea {
    height: 200px;
}
.btn_form {
    background: #0a6f00;
    width: 100%;
    height: 50px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 47px;
    border-radius: 5px;
}
